<div *ngIf="band && !modifying" id="main">
    <div id="name">
        <h1>
            {{band.name}}
        </h1>
        <button (click)="modify()" id="modify">Modify</button>
    </div>

    <div *ngIf="band.video" id="video-container">
        <iframe [src]="getEmbedUrl()" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>

    <div id="info">
        <p>{{band.info}}</p>
    </div>
</div>

<div *ngIf="band && modifying" id="main">
    <div id="name">
        <input [(ngModel)]="band.name" type="text" size="50" name="modifyName" id="modify-name">
    </div>

    <div id="video-container">
        <input [(ngModel)]="band.video" type="text" size="50" name="videoUrl" id="video-url">
    </div>

    <div id="info">
         <!--TODO: cambiar el ancho del textarea dependiendo el dispositivo  -->
        <textarea [(ngModel)]="band.info" name="bandInfo" id="band-info" cols="100" rows="10"></textarea>
    </div>

    <button (click)="save()" id="save">Save</button>
    <button (click)="cancel()" id="cancel">Cancel</button>
</div>