<app-search-bar></app-search-bar>
<div id="main">
    <Button routerLink="/bandNew">Add Band</Button>

    <div id="bands">
        <div *ngFor="let band of bands" class="card" routerLink="/bands/{{band.id}}">
            <div class="container-img">
                <img class="logo" src="../../../assets/rolling-stones.jpeg" alt="logo of the rolling stones band.">
            </div>
            <div class="container-info">
                <p> {{band.name}}</p>
            </div>

        </div>
    </div>
</div>