<app-search-bar></app-search-bar>
<div id="main">
    <table>
        <tr>
            <th>Bands</th>
        </tr>

        <tr *ngFor="let band of bands">
            <td routerLink="/bandDetail/{{band.id}}">
                <img class="logo" src="../../../assets/rolling-stones.jpeg" alt="logo of the rolling stones band.">
                <p> {{band.name}}</p>
                <button (click)=delete(band) id="delete">
                    DELETE
                </button>
            </td>
        </tr>
    </table>
</div>