p {
  font-size: large;
  margin-left: 2rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  display: flex;
  text-align: left;
  padding: 8px;
}

td:hover {
  background-color: var(--third-color);
  cursor: pointer;
}

th {
  text-align: center;
  padding: 3rem;
  font-size: 60px;
  font-weight: 700;
}

tr {
  border-bottom: 1px solid var(--fifth-color);
}

tr:last-child,
tr:first-child {
  border-bottom: none;
}

/* cambia el color de cada fila impar */
tr:nth-child(even) {
  border-radius: 1rem;
  background-color: var(--second-color);
}

.logo {
  position: relative;
  display: inline-block;
  width: 5rem;
  margin: 5px;

  border: solid 1px black;
  border-radius: 10px;
}

#main {
  margin-left: 6rem;
  margin-right: 6rem;
}
