p {
  font-size: 1.4rem;
  text-align: center;
}

.card {
  border: 1px solid var(--fourth-color);
  border-radius: 6px;
}

.card:hover {
  background-color: var(--second-color);
  cursor: pointer;
}

.container-img {
  display: flex;
  justify-content: center;
}

.logo {
  width: 5rem;

  border: solid 1px black;
  border-radius: 6px;
}

#bands {
  display: grid;
  
  /*
  * the minimum size of the colums is 150px and each card element will 
  * occupy 1fr of the grid.
  * The 'auto-fill' will put elements down in order to not
  * squeeze each one into another
  */
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 5%;
  margin-top: 2rem;
}

#main {
  margin-top: 3rem;
  margin-left: 10%;
  margin-right: 10%;
}
